<app-header title="New Vehicle"></app-header>

<ion-content>
  <div [ngSwitch]="step">
    <div *ngSwitchCase="2">
      <app-vehicle-form title="Vehicle Data" [values]="" (onSubmitted)="onNext($event)">
      </app-vehicle-form>
    </div>
    <div *ngSwitchCase="3">
      <h5>Store on Database</h5>
      <ion-button type="button" (click)="onSave()">Save</ion-button>
    </div>
    <div *ngSwitchDefault>
      <app-take-picture title="Vehicle Picture" (onTaked)="onNext($event)">
      </app-take-picture>
    </div>
  </div>
</ion-content>