<app-header title="Feedback"></app-header>

<ion-content>

  <form [formGroup]="form" (ngSubmit)="onSend()">

    <app-item-title [title]="title" icon="chatboxes"></app-item-title>

    <ion-item href="https://github.com/reek/pwa-qar-front/issues">
      <ion-icon name="logo-github" slot="start"></ion-icon>
      <ion-label>Report issues</ion-label>
    </ion-item>

    <ion-item href="https://nomade-advanced.slack.com/messages/CJD9AMSRW">
      <ion-icon name="logo-slack" slot="start"></ion-icon>
      <ion-label>Join chat</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="text" slot="start"></ion-icon>
      <ion-textarea rows="10" formControlName="feedback" placeholder="Tell us what you think..." required>
      </ion-textarea>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!form.valid">Send</ion-button>

  </form>

</ion-content>