<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>App</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <form [formGroup]="form" (ngSubmit)="onForgot()">

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{ title }}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" formControlName="email" required></ion-input>
          <app-field-error-message [control]="form.controls.email"></app-field-error-message>
        </ion-item>

        <ion-button expand="block" type="submit" [disabled]="!form.valid">Send New Password</ion-button>

        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-button expand="full" fill="clear" type="button" [routerLink]="['/auth/login']">Login
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="full" fill="clear" type="button" [routerLink]="['/auth/register']">Register
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>

      <p>Values: {{ form.value | json }}</p>
      <p>Status: {{ form.status | json }}</p>

    </ion-card>

  </form>

</ion-content>