<app-header title="Dashboard"></app-header>

<ion-content>

  <ion-list class="fullscreen">
    <ion-item detail routerLink="/personal">
      <ion-icon slot="start" name="person" color="primary"></ion-icon>
      <ion-text color="dark">
        <ion-label>Personal</ion-label>
      </ion-text>
    </ion-item>
    <ion-item detail routerLink="/vehicles">
      <ion-icon slot="start" name="logo-model-s" mode="ios" color="primary"></ion-icon>
      <ion-text color="dark">
        <ion-label>Vehicles</ion-label>
      </ion-text>
    </ion-item>
    <ion-item detail routerLink="/accidents">
      <ion-icon slot="start" name="warning" color="primary"></ion-icon>
      <ion-text color="dark">
        <ion-label>Accidents</ion-label>
      </ion-text>
    </ion-item>
    <ion-item detail routerLink="/emergency">
      <ion-icon slot="start" name="call" color="primary"></ion-icon>
      <ion-text color="dark">
        <ion-label>Emergency</ion-label>
      </ion-text>
    </ion-item>
    <ion-item detail routerLink="/insurances">
      <ion-icon slot="start" name="umbrella" color="primary"></ion-icon>
      <ion-text color="dark">
        <ion-label>Insurances</ion-label>
      </ion-text>
    </ion-item>
    <ion-item detail routerLink="/transmit">
      <ion-icon slot="start" name="wifi" color="primary"></ion-icon>
      <ion-text color="dark">
        <ion-label>Transmit</ion-label>
      </ion-text>
    </ion-item>
  </ion-list>

</ion-content>