<ion-content>

  <ion-grid class="fullscreen">
    <ion-row justify-content-center align-items-center no-padding class="fullscreen">
      <ion-col size="12">

        <form [formGroup]="form" (ngSubmit)="onResetPassword()">

          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-text color="dark">
                  <div class="logo"></div>
                  <h2>{{ title }}</h2>
                </ion-text>
              </ion-card-title>
              <ion-card-subtitle>Enter your new password.
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <ion-item>
                <ion-label position="stacked">Password</ion-label>
                <ion-input type="password" formControlName="password" required></ion-input>
                <ion-input type="hidden" formControlName="token" required></ion-input>
              </ion-item>

              <app-field-error-message [control]="form.controls.password"></app-field-error-message>

              <ion-button expand="block" type="submit" [disabled]="!form.valid">Update</ion-button>

              <ion-grid>
                <ion-row>
                  <ion-col size="6">
                    <ion-button expand="full" color="dark" fill="clear" type="button" routerLink="/auth/login">Login
                    </ion-button>
                  </ion-col>
                  <ion-col size="6">
                    <ion-button expand="full" color="dark" fill="clear" type="button" routerLink="/auth/register">
                      Register
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>