<!-- https://www.ch.ch/fr/accident-circulation/ -->

<ion-item-divider class="ion-padding-top">
    <ion-title color="primary">What to do?</ion-title>
</ion-item-divider>

<ion-list>
    <ion-item>
        <ion-label>1. Evaluate the situation.</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
        <ion-label>2. Secure the scene of the accident.</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
        <ion-label>3. Give first aid</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
        <ion-label>4. Alert the emergency services</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
        <ion-label>5. Take care of the wounded</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
</ion-list>

<ion-button type="button" expand="block" (click)="onSubmit()">Next</ion-button>