<app-header title="Transmit"></app-header>

<ion-content>
  <app-item-title title="QRcode" icon="barcode"></app-item-title>

  <ion-item>
    <ion-label>Scan the QR code with your data</ion-label>
  </ion-item>

  <ion-item>
    <ion-img *ngIf="qrcode" size="150px 150px" [src]="qrcode"></ion-img>
  </ion-item>

  <app-item-title title="Mail" icon="mail"></app-item-title>

  <ion-item>
    <ion-label>Send an mail with your data</ion-label>
  </ion-item>

  <ion-item>
    <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="onSendEmail()" [disabled]="!email">Send</ion-button>

</ion-content>