<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <ion-item-divider class="ion-padding-top">
    <ion-title color="primary">Vehicle</ion-title>
  </ion-item-divider>

  <ion-item>
    <ion-label>Type</ion-label>
    <ion-select placeholder="Select One" formControlName="type">
      <ion-select-option value="0">Car</ion-select-option>
      <ion-select-option value="1">Motorbike</ion-select-option>
      <ion-select-option value="2">Bike</ion-select-option>
      <ion-select-option value="3">Truck</ion-select-option>
      <ion-select-option value="4">Bus</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Make</ion-label>
    <ion-input type="text" formControlName="make"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Model</ion-label>
    <ion-input type="text" formControlName="model"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Plate Number</ion-label>
    <ion-input type="text" formControlName="plateNumber"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Registration Number</ion-label>
    <ion-input type="text" formControlName="registrationNumber"></ion-input>
  </ion-item>

  <ion-item-divider class="ion-padding-top">
    <ion-title color="primary">Insurance</ion-title>
  </ion-item-divider>

  <ion-item>
    <ion-label>Compagny</ion-label>
    <ion-select placeholder="Select One" formControlName="insuranceCompagny">
      <ion-select-option *ngFor="let insurance of insurances$ | async;" [value]="insurance.compagny">
        {{ insurance.compagny }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Policy Number</ion-label>
    <ion-input type="text" formControlName="insurancePolicyNumber"></ion-input>
  </ion-item>

  <ion-item-divider></ion-item-divider>

  <ion-button expand="block" type="submit" [disabled]="!form.valid">{{ button }}</ion-button>

</form>