￼<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <ion-item-divider class="ion-padding-top">
    <ion-title color="primary">{{title}}</ion-title>
  </ion-item-divider>

  <ion-item>
    <ion-label>Compagny</ion-label>
    <ion-input type="text" formControlName="compagny" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Policy Number</ion-label>
    <ion-input type="text" formControlName="policyNumber" required></ion-input>
  </ion-item>

  <ion-item-divider class="ion-padding-top">
    <ion-title color="primary">Remarks</ion-title>
  </ion-item-divider>

  <ion-item>
    <ion-textarea type="text" formControlName="remarks" placeholder="Add more information here ..."></ion-textarea>
  </ion-item>

  <ion-button expand="block" type="submit" [disabled]="!form.valid">Next</ion-button>

</form>