.aperture {
    /*
    height: 333px;
    min-height: 333px;
    max-height: 333px; 
    */
    height: 100%;
    width: 100%;
    object-fit: contain;

    /* border: 2px solid red; */
}

.fill {
    object-fit: fill;
}

.contain {
    object-fit: contain;
}

.cover {
    object-fit: cover;
}

.scale-down {
    object-fit: scale-down;
}

.none {
    object-fit: none;
}
