<form [formGroup]="form" (ngSubmit)="onSubmit()" class="fullscren">

  <app-item-title [title]="title" icon="camera"></app-item-title>

  <ion-item>
    <ion-icon name="information-circle"></ion-icon>
    <ion-text class="ion-text-justify info">{{ instructions }}</ion-text>
  </ion-item>

  <img *ngIf="imageUrl" class="aperture" [src]="imageUrl" />
  <ion-input type="hidden" formControlName="imageUrl"></ion-input>

  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button (click)="onTake(true)" color="light">
      <ion-icon name="color-wand"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button (click)="onTake()" color="dark">
      <ion-icon size="large" [name]="retry ? 'reverse-camera' : 'camera'"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button type="submit" (click)="onSubmit()" [disabled]="!form.valid">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</form>