￼<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <ion-item-divider class="ion-padding-top">
    <ion-title color="primary">{{title}}</ion-title>
  </ion-item-divider>
  <!-- placeholder="Male" value="Male" -->
  <ion-item>
    <ion-label>Gender</ion-label>
    <ion-select formControlName="gender" required>
      <ion-select-option value="0">Male</ion-select-option>
      <ion-select-option value="1">Female</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>FirstName</ion-label>
    <ion-input type="text" formControlName="firstName" [value]="form.controls.firstName.value | titlecase" required>
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>LastName</ion-label>
    <ion-input type="text" formControlName="lastName" [value]="form.controls.lastName.value | titlecase" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>BirthDate</ion-label>
    <ion-input type="hidden" formControlName="birthDate" required>
    </ion-input>
    <!-- https://ionicframework.com/docs/api/datetime -->
    <ion-datetime (ionChange)="updateBirthDate($event)" [value]="values?.birthDate || ''"
      display-format="MMMM DD, YYYY">
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>PhoneNumber</ion-label>
    <ion-input type="text" formControlName="phoneNumber" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input type="text" formControlName="email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Driving License</ion-label>
    <ion-input type="text" formControlName="drivingLicense" required></ion-input>
  </ion-item>

  <ion-button expand="block" type="submit" [disabled]="!form.valid">Next</ion-button>

</form>