<ion-content>

  <ion-grid class="fullscreen">
    <ion-row justify-content-center align-items-center no-padding class="fullscreen">
      <ion-col size="12">

        <form [formGroup]="form" (ngSubmit)="onLogin()">

          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-text color="dark">
                  <div class="logo"></div>
                  <h1>Quick Accident Report</h1>
                </ion-text>
              </ion-card-title>
              <ion-card-subtitle></ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <ion-item>
                <ion-icon slot="start" color="primary" name="mail"></ion-icon>
                <ion-input type="email" formControlName="email" placeHolder="Email" autofocus required></ion-input>
              </ion-item>

              <app-field-error-message [control]="form.controls.email"></app-field-error-message>

              <ion-item>
                <ion-icon slot="start" color="primary" name="medical"></ion-icon>
                <ion-input type="password" formControlName="password" placeHolder="Password" required></ion-input>
              </ion-item>

              <app-field-error-message [control]="form.controls.password"></app-field-error-message>

              <ion-button expand="block" type="submit" [disabled]="!form.valid">Login</ion-button>

              <ion-grid>
                <ion-row>
                  <ion-col size="6">
                    <ion-button expand="full" fill="clear" type="button" routerLink="/auth/forgot/password">Forgot
                    </ion-button>
                  </ion-col>
                  <ion-col size="6">
                    <ion-button expand="full" fill="clear" type="button" routerLink="/auth/register">Register
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>